html,
body,
#app {
    height: 100%;
}

#message {
    height: 100%;
    opacity: 0.4;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}